src/main/mule/cicd-jenkins-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f26750fc-c40c-4be6-912b-c35b1637dc3d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkins-implFlow" doc:id="4f70eb9b-321e-4853-9995-9fad48191220" >
		<http:listener doc:name="Listener" doc:id="f224fc01-46b6-45f5-86c2-53f2d41d983c" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="9bda0997-fd28-44ac-a08a-68e972cd2f55" message='#["success"]'/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9ff26783-25bc-42ec-989f-c2b8929b0f2d" />
	</flow>
</mule>
